<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registation Form</title>
</head>
<body style="text-align: center;">
    <h3>Registration Form</h3>
    <form action="{{ url_for('register') }}" method="POST">
        Name:
        <input type="text" name="name" placeholder="Student Name">
        Year:
        <select name="year">
            <option value="1">1st</option>
            <option value="2">2nd</option>
            <option value="3">3rd</option>
            <option value="4">4th</option>
        </select>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>